aioredis==2.0.1
async-timeout==4.0.2
cleo==1.0.0a4
click==8.0.3
crashtest==0.3.1
Deprecated==1.2.13
hiredis==2.0.0
packaging==21.3
pptree==3.1
pydantic==1.9.0
pylev==1.4.0
pyparsing==3.0.6
python-dotenv==0.19.2
python-ulid==1.0.3
redis==4.1.0
redis-om==0.0.17
six==1.16.0
types-redis==4.1.4
types-six==1.16.8
typing-extensions==4.0.1
wrapt==1.13.3
redisearch